<!-- <footer class="footer">
    &copy; <%=// new Date().getFullYear(); %> • S&S 
</footer> -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>
</body>
</html>